.contents
  .contents-title
    = link_to image_tag(@user.image.url, class: 'twitter-icon'), "https://twitter.com/#{@user.username}", class: 'btn btn-icon', target: :_blank
    %h4{style: "line-height: 44px;"}= @user.name
  .contents-main
    %ul
      %h4 参加イベント
      - if @participations.length == 0
        参加イベントはありません。
      - @participations.each do |participate|
        %li.main-group.list
          = link_to '', "/events/#{participate.event.id}", class: 'card-link'
          .left
            - if participate.event.datetime_options.length == 1
              %span= participate.event.datetime_options[0].date.strftime("%Y")
              %h3= participate.event.datetime_options[0].date.strftime("%m/%d")
              %h5= participate.event.datetime_options[0].date.strftime("(#{%w(日 月 火 水 木 金 土)[participate.event.datetime_options[0].date.wday]})")
            - else
              .vote
                %h5 開催日時
                %h5 投票中！
          .center
            %h5= link_to participate.event.title.truncate(30), participate.event
            %span
              = icon 'fas', 'user-friends'
              - if participate.event.no_of_participants.present?
                #{participate.event.participants.length}/#{participate.event.no_of_participants}人
              - else
                #{participate.event.participants.length}人
            %br
            - if participate.event.datetime_options.length == 1
              %span
                = icon 'fas', 'clock'
                - if participate.event.datetime_options[0].start_time == nil && participate.event.datetime_options[0].end_time == nil
                  未定
                - elsif participate.event.datetime_options[0].start_time != nil
                  = participate.event.datetime_options[0].start_time.strftime("%H:%M")
                  〜
                  = participate.event.datetime_options[0].end_time.strftime("%H:%M") unless participate.event.datetime_options[0].end_time == nil
                - else
                  未定〜
                  = participate.event.datetime_options[0].end_time.strftime("%H:%M")
              %br
            %span
              = icon 'fas', 'map-marker-alt'
              - if participate.event.address.present?
                = participate.event.address.truncate(15)
              - else
                未定
          .right
            = link_to image_tag(participate.event.user.image.url, class: 'twitter-icon'), participate.event.user, class: 'btn btn-icon'
    = will_paginate @participations, class: "pagination justify-content-center", previous_label: ' &lt 前へ', next_label: '次へ &gt', inner_window: 1, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
    
    %ul
      %h4 主催イベント
      - if @host_events.length == 0
        主催イベントはありません。
      - @host_events.each do |event|
        %li.main-group.list
          = link_to '', "/events/#{event.id}", class: 'card-link'
          .left
            - if event.datetime_options.length == 1
              %span= event.datetime_options[0].date.strftime("%Y")
              %h3= event.datetime_options[0].date.strftime("%m/%d")
              %h5= event.datetime_options[0].date.strftime("(#{%w(日 月 火 水 木 金 土)[event.datetime_options[0].date.wday]})")
            - else
              .vote.tooltip-trigger
                %h5 開催日時
                %h5 投票中！
              .tooltip-body
                - event.datetime_options.each_with_index do |datetime, i|
                  - if datetime.date.year == Date.today.year
                    %p
                      = "#{i + 1}. #{datetime.date.strftime('%m/%d')}"
                      = datetime.date.strftime("(#{%w(日 月 火 水 木 金 土)[datetime.date.wday]})")
                      - if datetime.start_time != nil
                        = datetime.start_time.strftime("%H:%M")
                        〜
                        = datetime.end_time.strftime("%H:%M") unless datetime.end_time == nil
                      - elsif datetime.start_time == nil && datetime.end_time != nil
                        未定〜
                        = datetime.end_time.strftime("%H:%M")
                  - else
                    %p
                      = "#{i + 1}. #{datetime.date.strftime('%Y/%m/%d')}"
                      = datetime.date.strftime("(#{%w(日 月 火 水 木 金 土)[datetime.date.wday]})")
                      - if datetime.start_time != nil
                        = datetime.start_time.strftime("%H:%M")
                        〜
                        = datetime.end_time.strftime("%H:%M") unless datetime.end_time == nil
                      - elsif datetime.start_time == nil && datetime.end_time != nil
                        未定〜
                        = datetime.end_time.strftime("%H:%M")

          .center
            %h5= link_to event.title.truncate(30), event
            %span
              = icon 'fas', 'user-friends'
              - if event.no_of_participants.present?
                #{event.participants.length}/#{event.no_of_participants}人
              - else
                #{event.participants.length}人
            %br
            - if event.datetime_options.length == 1
              %span
                = icon 'fas', 'clock'
                - if event.datetime_options[0].start_time == nil && event.datetime_options[0].end_time == nil
                  未定
                - elsif event.datetime_options[0].start_time != nil
                  = event.datetime_options[0].start_time.strftime("%H:%M")
                  〜
                  = event.datetime_options[0].end_time.strftime("%H:%M") unless event.datetime_options[0].end_time == nil
                - else
                  未定〜
                  = event.datetime_options[0].end_time.strftime("%H:%M")
              %br
            %span
              = icon 'fas', 'map-marker-alt'
              - if event.address.present?
                = event.address.truncate(15)
              - else
                未定
    = will_paginate @host_events, param_name: 'host_page', class: "pagination justify-content-center", previous_label: ' &lt 前へ', next_label: '次へ &gt', inner_window: 1, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer

    - if @user == current_user
      %ul
        %h4 アカウント
        .button-group
          %button.btn.btn-danger.rounded-pill{ type: "button", "data-toggle" => "modal", "data-target" => "#deleteAccountModal" } アカウントを削除

      .modal.fade#deleteAccountModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "deleteAccountModalLabel" }
        .modal-dialog{ role: "document" }
          .modal-content
            .modal-header
              %h5.modal-title 確認
              %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "閉じる" }
                %span{ "aria-hidden" => "true" } &times;
            .modal-body
              %p アカウントを削除してよろしいですか？
            .modal-footer
              %button.btn.btn-secondary.rounded-pill{ type: "button", "data-dismiss" => "modal" } やめる
              = link_to '削除', "/users", method: :delete, class: 'btn btn-danger rounded-pill'
