.container-fluid
  .main-explanation
    %h1 epulo 
    %h5 Twitterフォロワーと
    %h5 飲み会を開けるサービス
    - if user_signed_in?
      = link_to 'イベントを開催する', new_event_path, class: 'btn btn-twitter rounded-pill', role: "button"
    - else
      = link_to 'Twitterで登録/ログイン', user_twitter_omniauth_authorize_path, class: 'btn btn-twitter rounded-pill', role: "button"
- if @events.length != 0
  .contents-home
    .row
      .index-title
        %h2 新着イベント
        = link_to 'すべて表示', events_path
      - @events.each do |event|
        .col-sm-6.col-md-3
          .card
            = link_to '', "/events/#{event.id}" 
            .card-body.px-2.py-3
              %h5.card-title.unbroken= event.title.truncate(15)
              %p.card-text.unbroken
                - if event.datetime_options.length == 1
                  = icon 'fas', 'calendar-alt', class: 'fa-fw'
                  = event.datetime_options[0].date
                  %br
                  = icon 'fas', 'clock', class: 'fa-fw'
                  - if event.datetime_options[0].start_time == nil && event.datetime_options[0].end_time == nil
                    未定
                  - elsif event.datetime_options[0].start_time != nil
                    = event.datetime_options[0].start_time.strftime("%H:%M")
                    〜
                    = event.datetime_options[0].end_time.strftime("%H:%M") unless event.datetime_options[0].end_time == nil
                  - else
                    未定〜
                    = event.datetime_options[0].end_time.strftime("%H:%M")
                - else
                  開催日時投票中！
                %br
                = icon 'fas', 'map-marker-alt', class: 'fa-fw'
                - if event.address.present?
                  = event.address.truncate(15)
                - else
                  未定
              %h6.card-title
                = image_tag(event.user.image.url, class: 'twitter-icon')
                = event.user.name
