.event-title
  %h2 入力内容確認
  = link_to 'やめる', root_path, class: 'btn btn-link'

.event-main
  %table.table.table-bordered
    %tbody
      %tr
        %th= f.label :title, "タイトル"
        = f.hidden_field :title
        %td= @event.title

      %tr
        %th= f.label :text, "説明"
        = f.hidden_field :text
        %td= @event.text

      %tr
        %th= f.label :date, "日程"
        = f.hidden_field :date
        %td= @event.date

      %tr
        %th= f.label "時間"
        = f.hidden_field :start_time
        = f.hidden_field :end_time
        %td
          - if @event.start_time == nil && @event.end_time == nil
            未定
          - elsif @event.start_time != nil
            = @event.start_time.strftime("%H:%M")
            〜
            = @event.end_time.strftime("%H:%M") unless @event.end_time == nil
          - else
            未定〜
            = @event.end_time.strftime("%H:%M")

      %tr
        %th= f.label :no_of_participants, "参加可能人数"
        = f.hidden_field :no_of_participants
        %td
          - if @event.no_of_participants == nil
            未定
          - else
            = @event.no_of_participants
            人

      %tr
        %th= f.label :tag_list, "タグ"
        = f.hidden_field :tag_list, value: params[:tag_list]
        %td
          - if params[:tag_list]
            - if params[:tag_list].empty?
              なし
            - else
              - params[:tag_list].split(',').each do |tag|
                %li.tag
                  %span= tag
          - else
            - if params[:event][:tag_list].empty?
              なし
            - else
              - params[:event][:tag_list].split(',').each do |tag|
                %li.tag
                  %span= tag

      %tr
        %th= f.label :restaurant_name, "会場"
        = f.hidden_field :restaurant_name
        %td
          - if @event.restaurant_name.empty?
            未定
          - else
            = @event.restaurant_name

      %tr
        %th= f.label :address, "場所"
        = f.hidden_field :address
        %td
          - if @event.address.empty?
            未定
          - else
            = @event.address

      %tr
        %th= f.label :restaurant_url, "会場URL"
        = f.hidden_field :restaurant_url
        %td
          - if @event.restaurant_url.empty?
            未定
          - else
            = @event.restaurant_url

  .button-group
    = f.submit "送信", class: 'btn btn-twitter rounded-pill'
    = f.submit "戻る", name: 'back_button', class: 'btn btn-secondary rounded-pill'
