.contents-title
  %h2 イベント概要入力
  = link_to 'やめる', root_path, class: 'btn btn-link right'

.contents-main
  .form-group
    = f.label :title, "タイトル"
    %span.form-require 必須
    %br
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :text, "説明"
    %span.form-require 必須
    %br
    = f.text_area :text, class: 'form-control'

  .form-group
    = f.label :date, "日程"
    %span.form-require 必須
    %br
    = f.date_select :date, class: 'form-control', use_month_numbers: true, date_separator: '/ ', start_year: Time.now.year, end_year: (Time.now.year + 1)

  .form-group
    = f.label "時間"
    %br
    = f.time_select :start_time, class: 'form-control', include_blank: true
    〜
    = f.time_select :end_time, class: 'form-control', include_blank: true

  .form-group
    = f.label :no_of_participants, "参加可能人数"
    %br
    .form-no
      = f.number_field :no_of_participants, class: 'form-control'
      .unit 人

  .form-group
    = f.label "タグ"
    %br
    %ul#event-tags

  .form-group
    = f.label :restaurant_name, "会場"
    %br
    = f.text_field :restaurant_name, class: 'form-control'

  .form-group
    = f.label :address, "場所(住所またはエリア)"
    %br
    = f.text_field :address, class: 'form-control'

  .form-group
    = f.label :restaurant_url, "会場URL(ホームページ、レビューサイトなど)"
    %br
    = f.text_field :restaurant_url, class: 'form-control'

  .button-group
    - if @event.new_record?
      = f.submit "次へ", class: 'btn btn-primary btn-twitter rounded-pill'
    - else
      = f.submit "送信", class: 'btn btn-primary btn-twitter rounded-pill'
