%h2 イベント概要

.form-group
  = f.label :title, "タイトル"
  %span.form-require 必須
  %br
  = f.text_field :title, class: 'form-control'

.form-group
  = f.label :date, "日程"
  %span.form-require 必須
  %br
  = f.date_select :date, class: 'form-control'

.form-group
  = f.label "時間(未定でも可)"
  %br
  = f.time_select :start_time, class: 'form-control'
  〜
  = f.time_select :end_time, class: 'form-control'

.form-group
  = f.label :no_of_participants, "参加可能人数"
  %br
  = f.number_field :no_of_participants, class: 'form-control'

.form-group
  = f.label "タグ"
  %br
  %ul#event-tags

.form-group
  = f.label :text, "説明"
  %span.form-require 必須
  %br
  = f.text_field :text, class: 'form-control'
