.card.contents
  .contents-title
    %h2 イベント一覧

  .contents-main
    %ul.events
      - if @events.length != 0
        %div 現在、開催予定のイベントはありません。
        %div epuloでイベントを開催しませんか？
        .button-group{ style: "border-bottom: 0;" }
          = link_to 'イベントを開催する', new_event_path, class: 'btn btn-twitter rounded-pill'
      - else
        - @events.each do |event|
          %li.main-group.list
            = link_to '', "events/#{event.id}", class: 'card-link'
            - if event.datetime_options.length == 1
              .left
                %span= event.datetime_options[0].date.strftime("%Y")
                %h3= event.datetime_options[0].date.strftime("%m/%d")
                %h5= event.datetime_options[0].date.strftime("(#{%w(日 月 火 水 木 金 土)[event.datetime_options[0].date.wday]})")
            - else
              .left
                .vote.tooltip-trigger
                  %h5 開催日時
                  %h5 投票中！
                .tooltip-body
                  - event.datetime_options.each_with_index do |datetime, i|
                    - if datetime.date.year == Date.today.year
                      %p
                        = "#{i + 1}. #{datetime.date.strftime('%m/%d')}"
                        = datetime.date.strftime("(#{%w(日 月 火 水 木 金 土)[datetime.date.wday]})")
                        - if datetime.start_time != nil
                          = datetime.start_time.strftime("%H:%M")
                          〜
                          = datetime.end_time.strftime("%H:%M") unless datetime.end_time == nil
                        - elsif datetime.start_time == nil && datetime.end_time != nil
                          未定〜
                          = datetime.end_time.strftime("%H:%M")
                    - else
                      %p
                        = "#{i + 1}. #{datetime.date.strftime('%Y/%m/%d')}"
                        = datetime.date.strftime("(#{%w(日 月 火 水 木 金 土)[datetime.date.wday]})")
                        - if datetime.start_time != nil
                          = datetime.start_time.strftime("%H:%M")
                          〜
                          = datetime.end_time.strftime("%H:%M") unless datetime.end_time == nil
                        - elsif datetime.start_time == nil && datetime.end_time != nil
                          未定〜
                          = datetime.end_time.strftime("%H:%M")

            .center
              %h5= link_to event.title.truncate(30), event
              %span
                = icon 'fas', 'user-friends', class: 'fa-fw'
                - if event.no_of_participants.present?
                  #{event.participants.length}/#{event.no_of_participants}人
                - else
                  #{event.participants.length}人
              %br
              - if event.datetime_options.length == 1
                %span
                  = icon 'fas', 'clock', class: 'fa-fw'
                  - if event.datetime_options[0].start_time == nil && event.datetime_options[0].end_time == nil
                    未定
                  - elsif event.datetime_options[0].start_time != nil
                    = event.datetime_options[0].start_time.strftime("%H:%M")
                    〜
                    = event.datetime_options[0].end_time.strftime("%H:%M") unless event.datetime_options[0].end_time == nil
                  - else
                    未定〜
                    = event.datetime_options[0].end_time.strftime("%H:%M")
                %br
              %span
                = icon 'fas', 'map-marker-alt', class: 'fa-fw'
                - if event.address.present?
                  = event.address.truncate(15)
                - else
                  未定
            .right
              = link_to image_tag(event.user.image.url, class: 'twitter-icon'), event.user, class: 'btn btn-icon'
    .text-center
      = will_paginate class: "pagination justify-content-center", previous_label: ' &lt 前へ', next_label: '次へ &gt', inner_window: 1, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
