.card.contents
  .contents-title
    %h2 イベント一覧

  .contents-main
    %ul.events
      - @events.each do |event|
        %li.main-group.list
          = link_to '', "events/#{event.id}", class: 'card-link'
          .left
            %span= event.date.strftime("%Y")
            %h3= event.date.strftime("%m/%d")
            %h5= event.date.strftime("(#{%w(日 月 火 水 木 金 土)[event.date.wday]})")
          .center
            %h5= link_to event.title.truncate(30), event
            %span
              = icon 'fas', 'user-friends', class: 'fa-fw'
              - if event.no_of_participants.present?
                #{event.participants.length}/#{event.no_of_participants}人
              - else
                #{event.participants.length}人
            %br
            %span
              = icon 'fas', 'clock', class: 'fa-fw'
              - if event.start_time == nil && event.end_time == nil
                未定
              - elsif event.start_time != nil
                = event.start_time.strftime("%H:%M")
                〜
                = event.end_time.strftime("%H:%M") unless event.end_time == nil
              - else
                未定〜
                = event.end_time.strftime("%H:%M")
            %br
            %span
              = icon 'fas', 'map-marker-alt', class: 'fa-fw'
              - if event.address.present?
                = event.address.truncate(15)
              - else
                未定
          .right
            = link_to image_tag(event.user.image.url, class: 'twitter-icon'), event.user, class: 'btn btn-icon'
    .text-center
      = will_paginate class: "pagination justify-content-center", previous_label: ' &lt 前へ', next_label: '次へ &gt', inner_window: 1, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
