.contents-events
  .event-title
    %h1= @event.title

  .event-main
    .main-group.upper-info
      .flexed-info
        .info-left
          %h5 主催者
          = link_to image_tag(@host_user.image.url, class: 'twitter-icon'), @host_user, class: 'btn btn-icon'
          = @host_user.name
          = link_to "https://twitter.com/#{@host_user.username}", target: :_blank, class: 'btn btn-icon' do
            = icon 'fab', 'twitter-square', class: 'fa-2x'
        .info-right
          .event-no_of_participants
            = icon 'fas', 'user-friends'
            - if @event.no_of_participants.present?
              #{@event.participants.length}/#{@event.no_of_participants}人
            - else
              #{@event.participants.length}人
          .event-date
            = icon 'fas', 'calendar-alt'
            = @event.date
          .event-time
            = icon 'fas', 'clock'
            - if @event.start_time == nil && @event.end_time == nil
              未定
            - elsif @event.start_time != nil
              = @event.start_time.strftime("%H:%M")
              〜
              = @event.end_time.strftime("%H:%M") unless @event.end_time == nil
            - else
              未定〜
              = @event.end_time.strftime("%H:%M")
      .event-tags
        - if @event.tags
          - @event.tags.each do |tag|
            %li.tag
              %span= tag.name

    .main-group.event-text
      = @event.text

    .main-group.event-place
      %h4 開催場所
      %p
        - if @event.restaurant_name.empty?
          未定
        - elsif @event.restaurant_url.empty?
          = @event.restaurant_name
        - else
          = link_to "#{@event.restaurant_name}", @event.restaurant_url, target: :_blank
      - if @event.address.present?
        %p{ style: "margin-bottom: 0;" }
          = icon 'fas', 'map-marker-alt'
          = @event.address

    .main-group.event-no_of_participants
      %h4 参加者
      %table.table.table-bordered
        %tbody
          - @event.participants.each do |participant|
            - @user = User.find(participant.participant_user_id)
            %tr
              %th
                = link_to image_tag(@user.image.url, class: 'twitter-icon'), @user, class: 'btn btn-icon'
                = @user.name
              %td
                = link_to "https://twitter.com/#{@user.username}", target: :_blank, class: 'btn btn-icon' do
                  = icon 'fab', 'twitter-square', class: 'fa-2x'

    .button-group
      - if user_signed_in?
        - if @event.host_user_id == current_user.id
          = link_to '編集', edit_event_path, class: 'btn btn-primary btn-twitter rounded-pill'
          %button.btn.btn-danger.rounded-pill{ type: "button", "data-toggle" => "modal", "data-target" => "#deleteModal" } 削除
        - elsif @participants.pluck(:participant_user_id).include?(current_user.id)
          %button.btn.btn-danger.rounded-pill{ type: "button", "data-toggle" => "modal", "data-target" => "#cancelModal" } キャンセル
        - else
          %button.btn.btn-primary.btn-twitter.rounded-pill{ type: "button", "data-toggle" => "modal", "data-target" => "#participateModal" } 参加する

    .modal.fade#deleteModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "deleteModalLabel" }
      .modal-dialog{ role: "document" }
        .modal-content
          .modal-header
            %h5.modal-title 確認
            %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "閉じる" }
              %span{ "aria-hidden" => "true" } &times;
          .modal-body
            %p= "「#{@event.title}」のイベントを削除しますか？"
          .modal-footer
            %button.btn.btn-secondary.rounded-pill{ type: "button", "data-dismiss" => "modal" } やめる
            = link_to '削除', "/events/#{@event.id}", method: :delete, class: 'btn btn-danger rounded-pill'

    .modal.fade#cancelModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "cancelModalLabel" }
      .modal-dialog{ role: "document" }
        .modal-content
          .modal-header
            %h5.modal-title 確認
            %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "閉じる" }
              %span{ "aria-hidden" => "true" } &times;
          .modal-body
            %p= "「#{@event.title}」の参加をキャンセルしますか？"
          .modal-footer
            %button.btn.btn-secondary.rounded-pill{ type: "button", "data-dismiss" => "modal" } やめる
            = link_to 'キャンセル', "/events/#{@event.id}/cancel", method: :delete, class: 'btn btn-danger rounded-pill'

    .modal.fade#participateModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "participateModalLabel" }
      .modal-dialog{ role: "document" }
        .modal-content
          .modal-header
            %h5.modal-title確認
            %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "閉じる" }
              %span{ "aria-hidden" => "true" } &times;
          .modal-body
            %p= "「#{@event.title}」に参加しますか？"
          .modal-footer
            %button.btn.btn-secondary.rounded-pill{ type: "button", "data-dismiss" => "modal" } やめる
            = link_to '参加する', "/events/#{@event.id}/participate", method: :post, class: 'btn btn-primary btn-twitter rounded-pill'

    .comment-group
      %h4 コメント
      - @comments.each do |comment|
        .comment
          .comment-info
            = link_to image_tag(comment.user.image.url, class: 'twitter-icon'), comment.user, class: 'btn btn-icon'
            = comment.user.name
            - if comment.user ==  @host_user
              さん(主催者)より:
            - else
              さんより:
            %br
            = comment.created_at.strftime("%Y-%m-%d %H:%M")
            .info-right
              - if comment.user == current_user
                %button.btn.btn-link{ type: "button", "data-toggle" => "modal", "data-target" => "#deleteCommentModal" } 削除

                .modal.fade#deleteCommentModal{ tabindex: "-1", role: "dialog", "aria-labelledby" => "deleteCommentModalLabel" }
                  .modal-dialog{ role: "document" }
                    .modal-content
                      .modal-header
                        %h5.modal-title 確認
                        %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "閉じる" }
                          %span{ "aria-hidden" => "true" } &times;
                      .modal-body
                        %p コメントを削除しますか？
                      .modal-footer
                        %button.btn.btn-secondary.rounded-pill{ type: "button", "data-dismiss" => "modal" } やめる
                        = link_to '削除', [@event, comment], method: :delete, class: 'btn btn-danger rounded-pill'

          .text= comment.text

      .new_comment
        - if user_signed_in?
          = form_with(url: "/events/#{@event.id}/comments", local: true) do |f|
            コメントを投稿
            = f.text_area :text
            .submit= f.submit "送信", class: 'btn btn-primary btn-twitter rounded-pill'
