!!!
%html
  %head
    / Google Tag Manager
    %script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T9B2BW2');
    / End Google Tag Manager

    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title epulo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    / Google Tag Manager (noscript)
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-T9B2BW2", :style => "display:none;visibility:hidden", :width => "0"}
    / End Google Tag Manager (noscript)

    = render 'layouts/header'
    .background{ style: "position: relative; padding-top: 56px; background-color: #f5f5f5; padding-bottom: 20px;" }
      = yield
    = render 'layouts/footer'
